<div id="header-perfil">
    <div id="barra-perfil" class="py-2">
        <div id="flecha-atras">
            <fa-icon [icon] = "faArrowLeft" style="color: #8A80FD;font-size:.85rem; margin-left: 10px;"></fa-icon>
        </div>
    </div>
    <div id="informacion-perfil">
        <div id="imagen-perfil" style="width: 75px;">
            <img src="../../assets/img/user.png" alt="" style="width: 100%;">
        </div>
        <div id="datos-perfil" class="py-2 pt-2 px-4" style="flex:2">
            <h4 style="font-weight: bold;margin-bottom: 0rem;">Pancho Rivera</h4>
            <span>ejemplo@gmail.com</span>
        </div>
    </div>
</div>
<main id="main-perfil">
    <div id="contenedor-principal-perfil" class="mt-2 mb-5">
        <div class="m-3">
            <h5 style="text-align: left;font-weight: bold;" class="pb-3">Mi Cuenta</h5>
            <div id="datos-personales" class="items-perfil">
                <div>
                    <fa-icon [icon] = "faAddressCard"></fa-icon>
                </div>
                <div>Datos Personales</div>
                <div style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#modalDatos">
                    <fa-icon [icon] = "faEdit"></fa-icon>
                </div>
            </div>
            <h5 style="text-align: left;font-weight: bold;" class="pb-3 pt-4">Seguridad</h5>
            <div id="cambio-contrasenia" class="items-perfil">
                <div>
                    <fa-icon [icon] = "faKey"></fa-icon>
                </div>
                <div>Cambiar Contraseña</div>
                <div style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#modalContrasenia">
                    <fa-icon [icon] = "faEdit"></fa-icon>
                </div>
            </div>
            <h5 style="text-align: left;font-weight: bold;" class="pb-3 pt-4">Otras Acciones</h5>
            <div id="cerrar-sesion" class="items-perfil" style="justify-content: space-around;">
                <div>
                    <fa-icon [icon] = "faSingOutAlt"></fa-icon>
                </div>
                <div>Cerrar sesión</div>
            </div>
        </div>
    </div>
</main>
<div id="ir-ordenes" class="fixed-bottom">
    <p id="texto-ir-ordendes">Ir a ordenes</p>
    <fa-icon [icon] = "faChevronRight" class="icono-ir-ordenes"></fa-icon>
</div>