<!-- Modal -->
<div class="modal fade" id="mostarModal" tabindex="-1" aria-labelledby="mostarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="mostarModalLabel">Orden 0000001</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="modal-orden-tomada">
                <span><strong>Nombre del Cliente:</strong></span>
                <span>Juan Ramirez</span>
            </div>
            <div class="modal-orden-tomada">
                <span><strong>Direccón:</strong></span>
                <span style="padding-left: 55px;">Lorem ipsum dolor sit, amet consectetur adipisicing.</span>
            </div>
            <div class="modal-orden-tomada">
                <span><strong>ISV:</strong></span>
                <span>0.15</span>
            </div>
            <div class="modal-orden-tomada">
                <span><strong>Total:</strong></span>
                <span>L. 340</span>
            </div>
        </div>
        <div id="botones-orden">
            <button type="button" class="btn btn-primary boton">Tomar Orden</button>
            <button type="button" class="btn btn-primary boton" style="background-color: rgba(138, 128, 253, .20);color: black;">En camino</button>
            <button type="button" class="btn btn-primary boton">En origen</button>
            <button type="button" class="btn btn-primary boton">En destino</button>
        </div>
    </div>
    </div>
</div>