<app-barra-retroceso></app-barra-retroceso>
<main id="main-registrarse" class="container">
    <div id="logo">
        <img src="../../assets/img/Logotipo.svg" alt="Logo">
    </div>
    <div id="texto-principal">Registrarse como Motorista</div>
    <div id="formulario-registro-motorista">
        <form [formGroup]="formRegistro">
            <div class="form-group">
                <label class="labels" id="label-nombre" for="input-nombre">Nombre Completo</label>
                <input formControlName="nombreCompleto" id="input-nombre" type="text" class="form-control" placeholder="Nombre Completo" [ngClass]="{'is-invalid': nombreCompleto.invalid && (nombreCompleto.dirty || nombreCompleto.touched), 'is-valid': nombreCompleto.valid}">
                <div *ngIf="nombreCompleto.invalid && (nombreCompleto.dirty || nombreCompleto.touched)" style="color: red;">
                    <span *ngIf="nombreCompleto.errors.required">El campo es obligatorio</span>
                    <span *ngIf="nombreCompleto.errors.maxlength">Maximo de carcteres alcanzados.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="labels" id="label-fecha-nacimiento" for="input-fecha-nacimiento">Fecha Nacimiento</label>
                <input formControlName="fechaNacimiento" id="input-fecha-nacimiento" type="date" class="form-control" placeholder="Nombre Completo" [ngClass]="{'is-invalid': fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched), 'is-valid': fechaNacimiento.valid}">
                <div *ngIf="fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched)" style="color: red;">
                    <span *ngIf="fechaNacimiento.errors.required">El campo es obligatorio</span>
                </div>
            </div>
            <div class="form-group">
                <label class="labels" id="label-correo" for="input-correo">Correo electrónico</label>
                <input formControlName="correo" id="input-correo" type="email" class="form-control" placeholder="ejemplo@gmail.com" [ngClass]="{'is-invalid': correo.invalid && (correo.dirty || correo.touched), 'is-valid': correo.valid}">
                <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" style="color: red;">
                    <span *ngIf="correo.errors.required">El campo es obligatorio</span>
                    <span *ngIf="correo.errors.pattern">El correo no es válido</span>
                </div>
            </div>
            <div class="form-group">
                <label class="labels" id="label-contrasenia" for="input-contrasenia">Contraseña</label>
                <input formControlName="password" id="input-contrasenia" type="password" class="form-control" placeholder="contraseña" [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched), 'is-valid': password.valid}">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" style="color: red;">
                    <span *ngIf="password.errors.required">El campo es obligatorio</span>
                    <span *ngIf="password.errors.minlength">La contraseña no es correcta.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="labels" id="label-repetir-contrasenia" for="input-repetir-contrasenia">Contraseña</label>
                <input formControlName="password2" id="input-repetir-contrasenia" type="password" class="form-control" placeholder="contraseña" [ngClass]="{'is-invalid': password2.invalid && (password2.dirty || password2.touched), 'is-valid': password2.valid}">
                <div *ngIf="password2.invalid && (password2.dirty || password2.touched)" style="color: red;">
                    <span *ngIf="password2.errors.required">El campo es obligatorio</span>
                    <span *ngIf="password2.errors.minlength">La contraseña no es correcta.</span>
                </div>
            </div>
            <div>
                <button id="boton-iniciar-sesion" type="button" class="btn btn-primary all-btn font-weight-bold py-1" (click)="registrarUsuario()" [disabled] = "!formRegistro.valid">Registrate</button>
            </div>
            <div id="crear-cuenta-texto">
                <h6>¿Ya tienes cuenta? </h6>
                <a id="crear-cuenta" href="/iniciar-sesion">Inicia sesión aquí</a>
            </div>
        </form>
    </div>
    <div id="otras-opciones-de-inicio">
        <button class="btn btn-outline-info mx-3"><fa-icon [icon] = "faGoogle"></fa-icon> Google</button>
        <button class="btn btn-outline-info mx-3"><fa-icon [icon] = "faFacebookF"></fa-icon> Facebook</button>
    </div>
</main>