<app-barra-retroceso></app-barra-retroceso>
<main id="main-registrarse" class="container">
    <div id="logo">
        <img src="../../assets/img/Logotipo.svg" alt="Logo">
    </div>
    <div id="texto-principal">Registrarse como Motorista</div>
    <div id="formulario-registro-motorista">
        <form>
            <div class="form-group">
                <label class="labels" id="label-nombre" for="input-nombre">Nombre Completo</label>
                <input id="input-nombre" type="text" class="form-control" placeholder="Nombre Completo">
            </div>
            <div class="form-group">
                <label class="labels" id="label-fecha-nacimiento" for="fecha-nacimiento">Fecha Nacimiento</label>
                <input id="input-fecha-nacimiento" type="date" class="form-control" id="fecha-nacimiento" placeholder="Nombre Completo">
            </div>
            <div class="form-group">
                <label class="labels" id="label-correo" for="input-correo">Correo electrónico</label>
                <input id="input-correo" type="email" class="form-control" placeholder="ejemplo@gmail.com">
            </div>
            <div class="form-group">
                <label class="labels" id="label-contrasenia" for="input-contrasenia">Contraseña</label>
                <input id="input-contrasenia" type="password" class="form-control" placeholder="contraseña">
            </div>
            <div class="form-group">
                <label class="labels" id="label-repetir-contrasenia" for="input-repetir-contrasenia">Contraseña</label>
                <input id="input-repetir-contrasenia" type="password" class="form-control" placeholder="contraseña">
            </div>
            <div id="recuperar-contrasenia">¿Has olvidado tu contraseña?</div>
            <div>
                <button id="boton-iniciar-sesion" type="button" class="btn btn-primary all-btn" href="#">Iniciar Sesión</button>
            </div>
            <div id="crear-cuenta-texto">
                <h6>¿Aún no tienes cuenta? </h6>
                <h6 id="crear-cuenta">Crea una aquí</h6>
            </div>
        </form>
    </div>
    <div id="otras-opciones-de-inicio">
        <button class="btn btn-outline-info"><i class="fab fa-google"></i> Google</button>
        <button class="btn btn-outline-info"><i class="fab fa-facebook-f"></i> Facebook</button>
    </div>
</main>