<app-barra-retroceso></app-barra-retroceso>
<main id="main-registro-exitoso" class="container">
    <div id="logo">
        <img src="../../assets/img/Logotipo.svg" alt="Logo">
    </div>
    <div class="container">
        <div class="my-5" id="texto-registro-exitoso">Solicitud realizada éxitosamente!</div>
        <div class="my-5">
            <img src="../../assets/img/registro-exitoso.svg" alt="registro exitoso motorista" id="imagen-registro-exitoso">
        </div>
        <div class="my-5">
            <a type="button" class="btn btn-primary all-btn" id="btn-continuar-registro-exitoso" href="#">Continuar</a>
        </div>
    </div>
</main>