<div id="header">
    <div id="logo-ajustes">
        <app-logo></app-logo>
        <div id="configuracion"><i class="fas fa-user-cog"></i></div>
    </div>
    <div id="bienvenida">
        <p id="saludo">¡Hola Pancho!</p>
        <p style="font-weight: 700;">¿Listo para las entregas de hoy?</p>
        <div class="text-center mt-4" >
            <p>Aqui puedes visualizar las ordenes que has tomado.</p>
        </div>
    </div>
</div>

<main>
    <div id="ver-disponibles">
        <p style="font-weight: 800;">Ver ordenes disponibles</p>
        <div>
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>

    <div>
        <div style="text-align: start;" class="py-3">
            <h3 style="font-weight: bold;">Ordenes Tomadas</h3>
        </div>
        <div id="cards-ordenes-tomadas">
            <div id="card-orden" class="mb-2" data-bs-toggle="modal" data-bs-target="#mostarModal">
                <div id="orden-tomada" class="estilo-btn-perfil">
                    <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="contenido-card-orden">
                    <span>Codigo: 0000001</span>
                    <span>Nombre: Lucas Gomez</span>
                    <span>Estado: pendiente</span>
                </div>
                <div class="precio-card-orden">
                    <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                </div>
            </div>
        </div>
        <div id="cards-ordenes-tomadas">
            <div id="card-orden" class="mb-2" data-bs-toggle="modal" data-bs-target="#mostarModal">
                <div id="orden-tomada" class="estilo-btn-perfil">
                    <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="contenido-card-orden">
                    <span>Codigo: 0000001</span>
                    <span>Nombre: Lucas Gomez</span>
                    <span>Estado: pendiente</span>
                </div>
                <div class="precio-card-orden">
                    <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                </div>
            </div>
        </div>
        <div id="cards-ordenes-tomadas">
            <div id="card-orden" class="mb-2" data-bs-toggle="modal" data-bs-target="#mostarModal">
                <div id="orden-tomada" class="estilo-btn-perfil">
                    <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="contenido-card-orden">
                    <span>Codigo: 0000001</span>
                    <span>Nombre: Lucas Gomez</span>
                    <span>Estado: pendiente</span>
                </div>
                <div class="precio-card-orden">
                    <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                </div>
            </div>
        </div>
        <div id="cards-ordenes-tomadas">
            <div id="card-orden" class="mb-2" data-bs-toggle="modal" data-bs-target="#mostarModal">
                <div id="orden-tomada" class="estilo-btn-perfil">
                    <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="contenido-card-orden">
                    <span>Codigo: 0000001</span>
                    <span>Nombre: Lucas Gomez</span>
                    <span>Estado: pendiente</span>
                </div>
                <div class="precio-card-orden">
                    <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                </div>
            </div>
        </div>
        <div id="cards-ordenes-tomadas">
            <div id="card-orden" class="mb-2" data-bs-toggle="modal" data-bs-target="#mostarModal">
                <div id="orden-tomada" class="estilo-btn-perfil">
                    <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="contenido-card-orden">
                    <span>Codigo: 0000001</span>
                    <span>Nombre: Lucas Gomez</span>
                    <span>Estado: pendiente</span>
                </div>
                <div class="precio-card-orden">
                    <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                </div>
            </div>
        </div>
    </div>
</main>